*{
	font-family: "normal";
	font-size: 18.72px;
}

h1{
	font-size: 50px;
}

div + ul{
	list-style-type: none;
}

div img{
	height: 100px;
	width: 100px;
	border-radius: 150px;
}

ul > li{
	letter-spacing: 7px;
}

ul ~ p{
	text-align: center;
}

#following{
	text-transform: uppercase;
}

#p3{
	color: yellow;
}

.kindagreen{
	background-color: lightgreen;
}

[name]{
	border-width: 1px;
	border-style: solid;
}

